# DEFAULT
messageSender.DEFAULT.messagingProviderName=messagingProvider
messageSender.DEFAULT.destination=QUEUE1
messageSender.DEFAULT.replyTo=REPLY1
messageSender.DEFAULT.retryCount=2
messageSender.DEFAULT.formatDir=format
messageSender.DEFAULT.headerFormatName=HEADER

messageSender.DEFAULT.httpConnectTimeout=0
messageSender.DEFAULT.httpReadTimeout=0
messageSender.DEFAULT.sslContextComponentName=

# RM11AD0101
messageSender.RM11AD0101.timeout=10000

# RM11AD0102
messageSender.RM11AD0102.timeout=10000

# RM11AD0102
messageSender.RM11AD0110.retryCount=0


#===============================================================================
# HTTP通信用設定
#===============================================================================
messageSender.RM11AC0201.timeout=10000

# RM11AC0202
messageSender.RM11AC0202.httpMethod=POST
messageSender.RM11AC0202.messageSenderClient=defaultRealTimeMessagingClient
messageSender.RM11AC0202.uri=http://localhost:8888/msgaction/ss11AC/RM11AC0202
messageSender.RM11AC0202.httpMessagingUserId=user01

# RM11AC0203
messageSender.RM11AC0203.httpMethod=POST
messageSender.RM11AC0203.messageSenderClient=defaultRealTimeMessagingClient
messageSender.RM11AC0203.uri=http://localhost:8888/msgaction/ss11AC/RM11AC0203
messageSender.RM11AC0203.httpMessagingUserId=user01

# RM11AC0204
messageSender.RM11AC0204.httpMethod=POST
messageSender.RM11AC0204.messageSenderClient=defaultRealTimeMessagingClient
messageSender.RM11AC0204.uri=http://localhost:8888/msgaction/ss11AC/RM11AC0204
messageSender.RM11AC0204.httpMessagingUserId=user01

# RM11AC0205
messageSender.RM11AC0205.httpMethod=POST
messageSender.RM11AC0205.messageSenderClient=defaultRealTimeMessagingClient
messageSender.RM11AC0205.uri=http://localhost:8888/msgaction/ss11AC/RM11AC0205
messageSender.RM11AC0205.httpMessagingUserId=user01

# RM11AC0206
messageSender.RM11AC0206.httpMethod=POST
messageSender.RM11AC0206.messageSenderClient=defaultRealTimeMessagingClient
messageSender.RM11AC0206.uri=http://localhost:8888/msgaction/ss11AC/RM11AC0206
messageSender.RM11AC0206.httpMessagingUserId=user01
messageSender.RM11AC0206.syncMessagingEventHookNames=anSyncMessagingEventHook

# RM11AC0207
messageSender.RM11AC0207.httpMethod=POST
messageSender.RM11AC0207.messageSenderClient=defaultRealTimeMessagingClient
messageSender.RM11AC0207.uri=http://localhost:8888/msgaction/ss11AC/RM11AC0207
messageSender.RM11AC0207.httpMessagingUserId=user01
messageSender.RM11AC0207.syncMessagingEventHookNames=anSyncMessagingEventHook

# RM11AC0208
messageSender.RM11AC0205.httpMethod=POST
messageSender.RM11AC0205.messageSenderClient=defaultRealTimeMessagingClient
messageSender.RM11AC0205.uri=http://localhost:8888/msgaction/ss11AC/RM11AC0208
messageSender.RM11AC0205.httpMessagingUserId=user01

# RM11AC0291
messageSender.RM11AC0291.httpMethod=POST
messageSender.RM11AC0291.messageSenderClient=defaultRealTimeMessagingClient
messageSender.RM11AC0291.uri=http://localhost:8888/msgaction/ss11AC/RM11AC0299
messageSender.RM11AC0291.httpMessagingUserId=user01

# RM11AC0292
messageSender.RM11AC0292.httpMethod=POST
messageSender.RM11AC0292.messageSenderClient=defaultRealTimeMessagingClient
messageSender.RM11AC0292.uri=http://localhost:8888/msgaction/ss11AC/RM11AC0299
messageSender.RM11AC0292.httpMessagingUserId=user01

# RM11AC0293
messageSender.RM11AC0293.httpMethod=POST
messageSender.RM11AC0293.messageSenderClient=defaultRealTimeMessagingClient
messageSender.RM11AC0293.uri=http://localhost:8888/msgaction/ss11AC/RM11AC0299
messageSender.RM11AC0293.httpMessagingUserId=user01

# RM11AC0294
messageSender.RM11AC0294.httpMethod=POST
messageSender.RM11AC0294.messageSenderClient=defaultRealTimeMessagingClient
messageSender.RM11AC0294.uri=http://localhost:8888/msgaction/ss11AC/RM11AC0299
messageSender.RM11AC0294.httpMessagingUserId=user01

# RM11AC0295
messageSender.RM11AC0295.httpMethod=POST
messageSender.RM11AC0295.messageSenderClient=defaultRealTimeMessagingClient
messageSender.RM11AC0295.uri=http://localhost:8888/msgaction/ss11AC/RM11AC0295
messageSender.RM11AC0295.httpMessagingUserId=user01

# RM11AC0296
messageSender.RM11AC0296.httpMethod=POST
messageSender.RM11AC0296.messageSenderClient=defaultRealTimeMessagingClient
messageSender.RM11AC0296.uri=http://localhost:8888/msgaction/ss11AC/RM11AC0296
messageSender.RM11AC0296.httpMessagingUserId=user01

# RM11AC0297
messageSender.RM11AC0297.httpMethod=POST
messageSender.RM11AC0297.messageSenderClient=defaultRealTimeMessagingClient
messageSender.RM11AC0297.uri=http://localhost:8888/msgaction/ss11AC/RM11AC0297
messageSender.RM11AC0297.httpMessagingUserId=user01

# RM11AC0298
messageSender.RM11AC0298.httpMethod=POST
messageSender.RM11AC0298.messageSenderClient=defaultRealTimeMessagingClient
messageSender.RM11AC0298.uri=http://localhost:8888/msgaction/ss11AC/RM11AC0298
messageSender.RM11AC0298.httpMessagingUserId=user01

# RM11AD0201
messageSender.RM11AD0201.messageSenderClient=defaultMessageSenderClient
messageSender.RM11AD0201.httpMethod=POST
messageSender.RM11AD0201.uri=http://localhost:8090/rm21ad0103

