# DEFAULT
messageSender.DEFAULT.messagingProviderName=messagingProvider
messageSender.DEFAULT.destination=QUEUE1
messageSender.DEFAULT.replyTo=REPLY1
messageSender.DEFAULT.retryCount=0
messageSender.DEFAULT.formatDir=format
messageSender.DEFAULT.headerFormatName=HOGE


# RM11AA0101
messageSender.RM11AD0101.destination=QUEUE1
messageSender.RM11AD0101.replyTo=REPLY2
messageSender.RM11AD0101.timeout=5000
messageSender.RM11AD0101.retryCount=0
messageSender.RM11AD0101.headerFormatName=HEADER


# RM21AA0101
messageSender.RM21AA0101.destination=QUEUE2
messageSender.RM21AA0101.replyTo=REPLY2
messageSender.RM21AA0101.timeout=5000
messageSender.RM21AA0101.retryCount=0
messageSender.RM21AA0101.headerFormatName=HEADER

# RM21AA010102
messageSender.RM21AA010102.destination=QUEUE2
messageSender.RM21AA010102.replyTo=REPLY2
messageSender.RM21AA010102.timeout=5000
messageSender.RM21AA010102.retryCount=0
messageSender.RM21AA010102.headerFormatName=HEADER

# RM21AA0102
messageSender.RM21AA0102.destination=QUEUE2
messageSender.RM21AA0102.replyTo=REPLY2
messageSender.RM21AA0102.timeout=5000
messageSender.RM21AA0102.retryCount=0
messageSender.RM21AA0102.headerFormatName=HEADER


# RM21AA0104_01
messageSender.RM21AA0104_01.destination=QUEUE2
messageSender.RM21AA0104_01.replyTo=REPLY2
messageSender.RM21AA0104_01.timeout=5000
messageSender.RM21AA0104_01.retryCount=0
messageSender.RM21AA0104_01.headerFormatName=HEADER

# RM21AA0104_02
messageSender.RM21AA0104_02.destination=QUEUE2
messageSender.RM21AA0104_02.replyTo=REPLY2
messageSender.RM21AA0104_02.timeout=5000
messageSender.RM21AA0104_02.retryCount=0
messageSender.RM21AA0104_02.headerFormatName=HEADER2


# RM11AA0111
messageSender.RM11AD0111.destination=QUEUE1
messageSender.RM11AD0111.replyTo=REPLY2
messageSender.RM11AD0111.timeout=5000
messageSender.RM11AD0111.retryCount=0
messageSender.RM11AD0111.headerFormatName=HEADER




